<!-- main/fairy_tales.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Сказки</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <style>
    .books-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-top: 80px;
        padding: 10px;
        box-sizing: border-box;
    }
    </style>
</head>
<body>

<header>
    <div class="header-top">
        <h1>Сказки</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/courses/">Курсы</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="books-container">
    {% for book in books %}
        {% include 'main/book_card.html' with book=book %}
    {% endfor %}
</div>

</body>
</html>